wazuh/certs/dashboard_http/*.pem
wazuh/certs/dashboard_http/*.key
wazuh/certs/indexer_cluster/*.pem
wazuh/certs/indexer_cluster/*.key
wazuh/certs/indexer_cluster/*.csr
wazuh/certs/indexer_cluster/*.srl
wazuh/certs/dashboard_http/*.pem
wazuh/certs/dashboard_http/*.key
wazuh/certs/indexer_cluster/*.pem
wazuh/certs/indexer_cluster/*.key
wazuh/certs/indexer_cluster/*.csr
wazuh/certs/indexer_cluster/*.srl
/envs/eks/pv-nfs.yaml
/envs/eks/pvc-nfs.yaml
/envs/eks/wazuh-indexer-legacy.yaml
/wazuh/secrets/m365-cred-secret.yaml
/wazuh/certs/tls/*.crt
/wazuh/certs/tls/*.key
/wazuh/certs/tls/*.srl
/wazuh/certs/tls/*.csr
/wazuh/wazuh_managers/wazuh_conf/syslog-ng-secrets
/wazuh/secrets/wazuh-s3-creds.yaml